/* --------------------------------------------------------
Style Sheet for Sam

version: 0.9
last modified: 3.11.2021 by Christof Bauer
author: Christof Bauer, Sam Kota
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

:root {
  --color-brand: #43eaea;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply underline;
}

.link:hover {
  @apply text-brand no-underline;
}


/* ==========================================================================
	Navigation
	========================================================================== */

  .active-nav {
    @apply font-bold bg-brand text-gray-600 border-none shadow;
  }
  
  .mobile-menu .active-nav {
    @apply font-bold bg-brand text-gray-600;
  }

  
/* ==========================================================================
	Forms 
	========================================================================== */

input {
  @apply px-4 py-2 border focus:outline-none focus:ring-1 focus:ring-brand dark:text-black;
}

textarea {
  @apply px-4 py-2 border focus:outline-none focus:ring-1 focus:ring-brand dark:text-black;
}

.button {
  @apply bg-brand px-8 py-4 w-48 text-black rounded shadow-lg hover:shadow transition-all my-8 hover:cursor-pointer
}

/* ==========================================================================
	https://github.com/vercel/next.js/issues/21914 
	========================================================================== */

.image-wrapper {
  display: relative;
  text-align: bottom;
  font-size: 0;
}


/* ==========================================================================
	Mapbox overrides
	========================================================================== */

.mapboxgl-canvas {
  @apply absolute top-0 bottom-0 left-0 w-full h-full;
}

.mapboxgl-popup {
  @apply text-left min-w-3/4 lg:min-w-1/2 overflow-hidden; 
}

div.mapboxgl-popup-content {
  @apply p-2 bg-gray-200 dark:bg-gray-700;
}

.mapboxgl-popup-content div {
  @apply text-sm px-4 py-5 shadow font-sans bg-white dark:bg-black dark:text-white;
}

.mapboxgl-popup-content p {
  @apply text-base my-4 dark:text-white;
}

.mapboxgl-popup-content h1 {
  @apply text-3xl leading-7 my-6 font-sans dark:text-white;
}

.mapboxgl-popup-content img {
  @apply w-full shadow-lg;
}

.mapboxgl-popup-close-button {
  @apply text-3xl px-4 py-1 hover:text-brand dark:text-white focus:outline-none;
}
